<h1>Payment Calculation</h1>

<form action="/payment/results">
    <div>
        <label>
            APR
        </label>
    
        <input type = "text" name="user_APR" placeholder="e.g. 5.43">
    </div>
    
    <div>
        <label>
            Number of years
        </label>
        
        <input type="text" name = "user_term" placeholder = "How many years to repay?">
    </div>
    
    <div>
        <label>
            Principal
        </label>
        
        <input type="text" name = "user_principal" placeholder="How much principal?">
    </div>
    <button>Calculate monthly payment</button>
    
</form>