<h1>Random Results</h1>

<h6>Minimum</h6>
<p><%= @lo %></p>

<h6>Maximum</h6>
<p><%= @hi %></p>

<h6>Random number</h6>
<p><%= number_with_precision(@random_number,precision: 2) %></p>

<a href="/random/new">
  Calculate another random number
</a>