<h1>Random Calculation</h1>

<form action="/random/results">
    <div>
        <label>
            Minimum
        </label>
    
        <input type = "text" name="user_min" placeholder="e.g. 1.5">
    </div>
    
    <div>
        <label>
            Maximum
        </label>
        
        <input type="text" name = "user_max" placeholder = "e.g. 9.2">
    </div>
    
    
    <button>Pick random number</button>
    
</form>