<h1>Stats Calculation</h1>

<form action="/descriptive_statistics/results">
    <div>
        <label for="word_count_textarea">
            Numbers
        </label>
    
       <textarea id="word_count_textarea" name="user_numbers" rows="2" placeholder="Enter your numbers (separated by spaces)"></textarea>
    </div>
    
    <button>Calculate descriptive statistics</button>
    
</form>

