<h1>Word Count Calculation</h1>

<form action="/word_count/results">
    <div>
        <label for="word_count_textarea">
            Text
        </label>
    
        <textarea id="word_count_textarea" name="user_text" rows="3" placeholder="Enter some text"></textarea>
    </div>
    
    <div>
        <label for="enter_special_word">
            Special word
        </label>
        
        <input id="enter_special_word" type="text" name = "user_special" placeholder = "Enter a particular word">
    </div>
    
    
    <button>Process text</button>
    
</form>

